Dear {{firstName}},
<br/><br/>
Your account has been disabled.
<br/><br/>
To reset your password, please follow the link bellow
<br/>
<href url="{{resetPasswordUrl}}" target="_blank">{{resetPasswordUrl}}</href>
<br/><br/>
Best regards,