{{#account}}
Dear {{firstName}} {{lastName}},
{{/account}}
<br/>
To activate your account, please follow the link bellow
<br/>
<href url="{{activationUrl}}" target="_blank"></href>
<br/><br/>
Best regards,
